body {
  background-color: #212529;
}

header {
  height: 50px;
}

.material-symbols-outlined {
  line-height: unset;
}

.power-switch {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.confirm-music-mode {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.scene-item {
  cursor: pointer;
}
